name: Build and Push Docker Images

on:
  push:
    branches:
      - main

jobs:
  build_and_push:
    runs-on: ubuntu-latest

    steps:
      - name: Check out the repo
        uses: actions/checkout@v2

      - name: Convert repo info to lowercase
        run: |
          echo "REPO_OWNER=$(echo ${{ github.repository_owner }} | tr 'A-Z' 'a-z')" >> $GITHUB_ENV

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v1
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push the frontend Docker image
        uses: docker/build-push-action@v2
        with:
          context: ./front-end
          file: ./front-end/Dockerfile
          push: true
          tags: ghcr.io/${{env.REPO_OWNER}}/front-end:latest
          build-args: VITE_API=${{ secrets.VITE_API }}

      - name: Build and push the backend Docker image
        uses: docker/build-push-action@v2
        with:
          context: ./back-end
          file: ./back-end/Dockerfile
          push: true
          tags: ghcr.io/${{env.REPO_OWNER}}/back-end:latest

      - name: Trigger Front-End rebuild on Render
        run: |
          curl -X POST \
          -H "Authorization: Bearer ${{ secrets.RENDER_API_TOKEN }}" \
          -H "Content-Type: application/json" \
          https://api.render.com/deploy/srv-cjjne4ephtvs7395m2sg?key=NdNI1V-lw6w

      - name: Trigger Back-End rebuild on Render
        run: |
          curl -X POST \
          -H "Authorization: Bearer ${{ secrets.RENDER_API_TOKEN }}" \
          -H "Content-Type: application/json" \
          https://api.render.com/deploy/srv-cjjnj0337aks73dinrg0?key=lqwKAd276Jg
